__pycache__/
*.pyc
.env
.venv/
node_modules/
.next/
data/raw/*
data/processed/*
*.ipynb_checkpoints

# Ignore raw Kaggle movie metadata
data/movie_catalog/movie_metadata.csv
# Ignore raw datasets
data/raw/
data/inbetween
data/embeddings/

