@tailwind utilities;

/* CSS Reset / Base tweaks */
html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  background-color: #f9fafb;
}

/* Better default text rendering */
body {
  color: #111827;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}
